
h2{
  font-family:fantasy;

}
h1{
  font-family:cursive;
  font-size: 35px;
}
#a{
border: solid 5px;
  padding: 15px 15px 15px 15px;
  display: inline;
  margin-left: 10px;
}
body{
  text-indent: 2cm;
}
