<html>

  <head>
      <title>My Bucket List</title>
  </head>

    <body bgcolor="EE8D0A">
      <h2>Some things I have ALWAYS wanted to do:</h2>
      <ol>
        <li>Climb the Mount Everest</li>
        <img src = "mount.jpg" width = "500" height="350"></br>
        <li>Run a Marathon in every continent</li>
        <a href = http://www.nationsonline.org/oneworld/countries_of_the_world.htm><img src = "map.gif" width="500" height="300"></a></br>
        <li>Travel all (most) of the countries in the world</li>
        <li>Complete an adventure course in Costa Rice</li>
        <img src = "adven.jpg" width="400" height="300"></br>
        <li>Become ambidextrous</li>
        <img src = "ambi.jpg" width ="400" height="300"></br>
        </br>
        <a href = "/">Go back to my Blog</a>
    </body>

</html>
